@use 'reset';
@use 'vars';

body {
  font-family: vars.$font1;

}

.App {
  background: linear-gradient(rgba(149, 122, 173, 0.8), rgba(233, 199, 240, 0.5)), url('../images/fond-ecran.jpg') no-repeat center/cover;
  height: 100vh;
}