@use 'reset';
@use 'vars';

body {
  font-family: vars.$font1;

}

.App {
  background: url('../images/fond-ecran.jpg'), url('../images/fond-ecran.jpg') no-repeat center/cover;
  background-attachment: fixed;
  height: auto;
}